/* .list-group-item.active {
  background-color: #71de54;
  border-color: #d7f97c;
}

.list-group-item:hover {
  background-color: #f9db7a;
}

.rounded-pill {
  margin: 0px 5px 0px 0px;
}

.btn-outline-primary {
  position: absolute;
  right: 16px;
  padding: 0px 5px 0px 5px !important;
} */